<link rel='stylesheet' href='/style.css'>


<h1 style="font size: 300px"> Student Roll Call</h1>

<% for student in @students  %>
<div id="student_index">
  <div id="student_info">
    <h2>
      <p>Name: <%= student.name() %></p>
      <p>Age: <%= student.age() %></p>
      <p>House: <%= student.house.house_name %></p>
    </div>

    <div id="logo">
      <img width="250" height="250" src= <%= student.house.logo %>
    </div>

    <h3>

    </h3>

  </h2>
</div>
<% end %>
 
